ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    background-color: #f1f1f1;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
}

div#HGnav ul {
	background-color: transparent;
    list-style-type:none;
    height:20px;
    text-align:center;
    width: 25%;
	min-width: 750px;
    display: table;
}

div#HGnav ul li {
    margin-left: 1%;
	border: 1px solid grey;
	border-radius: 10px;
    display: table-cell;
}

div#HGnav li a {
	text-decoration: none;
	color: #000;
}

div#HGnav li a:hover {
	border-radius: 9px;
    background-color: #83adb5;
	text-decoration: none;
}

.bulletList ul {
	list-style-type: disk;
    margin: 110;
    padding: 110;
    width: 1000px;
    background-color: #f1f1f1;
    overflow: hidden;
}


/* Change the link color on hover */
li a:hover {
    background-color: #83adb5;;
    color: white;
}

div.scroll {
    background-color: #99b898;
    width: 700px;
    height: 100px;
    overflow: auto;
}
