<!DOCTYPE html>
<html>
<head>
	<title>Housing Guide</title>

	<link rel="stylesheet" type="text/css" href="css/otherPages.css" />
</head>
<body>

	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="search">Search</a></li>
		<li><a href="housingGuide">Housing Guide</a></li>
		<li><a href="accountOptions">Account Options</a></li>
	</ul>

	<h1>Housing Guide</h1>


</body>
</html>